{% extends 'core/base.html' %}
{% block title %}{{title}}{% endblock %}


{% block content %}
<div class="max-w-xl mx-auto bg-white p-8 rounded-lg shadow-md mt-10">
    <h2 class="text-2xl font-bold mb-6 text-center text-indigo-700">{{title}}</h2>

<form method="post" action="." enctype="multipart/form-data" class="space-y-4">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}" class="block mb-1 font-medium text-gray-700">
                {{ field.label }}
            </label>
            {{ field }}
            {% if field.help_text %}
                <p class="text-sm text-gray-500">{{ field.help_text }}</p>
            {% endif %}
            {% if field.errors %}
                <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
            {% endif %}
        </div>
    {% endfor %}

 <button type="submit" class="w-full py-2 px-4 bg-indigo-600 text-white rounded hover:bg-indigo-700 transition">
    {{ title }}
</button>

</form>


    <p class="mt-4 text-center text-sm text-gray-600">
        <a href="{% url 'core:index' %}" class="text-indigo-600 hover:underline">Back to Home</a>
    </p>
</div>
{% endblock %}